@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

.center {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn-std {
  border: 2px solid black;
  text-decoration: none;
  padding: 10px 20px;
  background-color: green;
  color: black;
  border-radius: 10px;
}